{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Buat To Do | To Do List</title>
{% endblock meta %}


{% block content %}
<link rel="stylesheet" href="{% static 'todolist/style.css' %}">

 <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
 </style>

 <nav>
    <h1>To Do List</h1>
    <div class="nav-right">
        <strong>Halo, {{ user.username }}!</strong>
        <a class="btn" href="{% url 'todolist:logout' %}">Logout</a>
    </div>
 </nav>
 
 <section class="container">
    <h1>Buat To Do Baru</h1>  

    <form method="POST">
        {% csrf_token %} 
        {% for field in form %}
        <div>
            {{ field.errors }}
            {{ field.label_tag }}<br>
            {{ field }}
        </div>
        {% endfor %}
        <input class="btn" type="submit" name="submit" value="Tambah"/>
        </form>

        {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
        {% endif %}
    </section>  

{% endblock content %}