{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Halo, {{ user.username }}! | To Do List</title>
{% endblock meta %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        const makeTaskCard = (task) => {
            const taskDate = new Date(`${task.fields.date}`)
            const formattedTaskDate = new Intl.DateTimeFormat('id-ID', { dateStyle: 'long', timeStyle: 'short' }).format(taskDate)
            const taskSection = document.querySelector(".tasks")
            taskSection.insertAdjacentHTML('beforeend', 
                `<div class="border-2 border-black w-1/2 p-6 mb-8 rounded-lg flex gap-8 justify-between items-center ${task.fields.is_finished ? "border-green-600" : "border-red-600"}">
                    <div class="w-3/4 ${task.fields.is_finished && "line-through decoration-slate-500"}">
                        <p class="text-lg font-bold mb-2">${task.fields.title}</p>
                        <p class="text-slate-400">${task.fields.description}</p>
                        <p class="text-sm flex justify-end">${formattedTaskDate}</p>
                    </div>
                    <div class="w-1/4 text-center flex flex-col gap-2">
                        <button id="toggle-task-btn" class="px-4 py-2 bg-black text-white rounded-lg w-full" onclick=toggleTask(${task.pk})>Ubah Status</button>
                        <button id="delete-task-btn" class="px-4 py-2 border-2 border-red-600 bg-white text-red-600 rounded-lg w-full" onclick=deleteTask(${task.pk})>Hapus</button>
                    </div>
                </div>`
            )
        }

        const getTasks = () => {
            $.ajax(
                {
                    type: "GET",
                    url: "{% url 'todolist:json' %}",
                    dataType: "json",
                    success: (tasks) => {
                        if (tasks.length == 0) {
                            const taskSection = document.querySelector(".tasks")
                            taskSection.insertAdjacentHTML('beforeend', 
                                `<div class="animation my-4 grid place-items-center">
                                    <lottie-player src="https://assets9.lottiefiles.com/datafiles/vhvOcuUkH41HdrL/data.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
                                    <p>Waduh, kamu belum punya task.</p>
                                </div>`
                            )
                        } else {
                            tasks.map(task => makeTaskCard(task))
                        }
                    }, 
                    error: (err) => {
                        console.log(err)
                    }
                }
            )
        }

        const toggleTask = (pk) => {
            $.ajax(
                {
                    url: `toggle-task/${pk}`,
                    type: "POST",
                    dataType: "json",
                    data: {
                        csrfmiddlewaretoken: "{{csrf_token}}"
                    },
                    success: () => {
                        $(".tasks").empty()
                        getTasks()
                    }, 
                    error: (err) => {
                        console.log(err)
                    }
                }
            )
        }

        const deleteTask = (pk) => {
            $.ajax(
                {
                    url: `delete-task/${pk}`,
                    type: "DELETE",
                    dataType: "json",
                    headers: {"X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()},
                    success: () => {
                        $(".tasks").empty()
                        getTasks()
                    }, 
                    error: (err) => {
                        console.log("no")
                    }
                }
            )
        }

        $(document).ready(() => {
            getTasks()
        });

        {% comment %} Source: https://www.section.io/engineering-education/creating-a-modal-dialog-with-tailwind-css/ {% endcomment %}
         window.onload = () => {
            const modal = document.getElementById("create-task-modal")
            const toggleModalBtn = document.getElementById("toggle-create-task-btn")
            const toggleTaskBtn = document.getElementById("toggle-task-btn")
            const deleteTaskBtn = document.getElementById("delete-task-btn")
            const createTaskBtn = document.getElementById("create-task-btn")
    
            toggleModalBtn.onclick = () => {
                modal.style.display = "flex"
            }

            window.onclick = (e) => {
                if (e.target === modal) {
                    modal.style.display = "none"
                }
            }

            createTaskBtn.onclick = (e) => {
                e.preventDefault();
                $.ajax(
                    {
                        url: "{% url 'todolist:create_task' %}",
                        type: "POST",
                        dataType: "json",
                        data: $('form#create-task-form').serialize(),
                        success: (task) => {
                            $('#create-task-form').trigger("reset");
                            if ($(".animation").length) {
                                $(".animation").remove()
                            }
                            makeTaskCard(task)
                            modal.style.display = "none"
                        }, 
                        error: (err) => {
                            console.log(err)
                        }
                    }
                )
            }
 
        }
    </script>

    <nav class="bg-black text-white px-6 py-4 flex justify-between items-center mb-16">
        <p class="text-2xl font-bold">To Do List</p>
        <div class="flex justify-center items-center gap-6">
            <strong>Halo, {{ user.username }}!</strong>
            <a class="px-4 py-2 bg-red-600 rounded-lg" href="{% url 'todolist:logout' %}">Logout</a>
        </div>
    </nav>
    
 <section class="flex flex-col items-center justify-center mb-16">
    <div class="tasks w-full flex flex-col items-center justify-center">
    </div>

    <button id="toggle-create-task-btn" class="px-4 py-2 bg-black text-white rounded-lg">Tambah Task</button>

    <div id="create-task-modal" class="hidden backdrop-brightness-50 backdrop-blur-sm w-screen h-screen fixed justify-center items-center top-0 left-0">
        <div class="fixed bg-white p-10 rounded-xl container max-w-screen-sm max-h-screen">
            <p class="text-xl font-bold mb-4">Buat Task Baru</p>
            <form id="create-task-form" class="w-full" method="POST" action="">
                {% csrf_token %}
                <label class="mb-4">Judul</label><br>
                <input class="w-full rounded-lg border-2 border-black mb-4" type="text" name="title" placeholder="Belajar SDA" required/><br>
                    
                <label class="mb-4">Deskripsi</label><br>
               <textarea class="w-full rounded-lg border-2 border-black mb-4" name="description" placeholder="Binary Search Tree, Sorting" required></textarea><br>
        
                <input id="create-task-btn" class="cursor-pointer px-4 py-2 bg-black text-white w-full rounded-lg" type="submit" value="Tambah!">
            </form>
          </div>
    </div>

</section>


 {% endblock content %}
