{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Halo, {{ user.username }}! | To Do List</title>
{% endblock meta %}

{% block content %}
<link rel="stylesheet" href="{% static 'todolist/style.css' %}">

 <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
 </style>

 <nav>
    <h1>To Do List</h1>
    <div class="nav-right">
        <strong>Halo, {{ user.username }}!</strong>
        <a class="btn" href="{% url 'todolist:logout' %}">Logout</a>
    </div>
 </nav>

 <div style="margin: 3rem 5rem 5rem 5rem; display: flex; flex-direction: column; justify-items: center; align-items: center;">
    <table>
        <tr>
            <td class="table-header">Judul</td>
            <td class="table-header">Keterangan</td>
            <td class="table-header">Dibuat</td>
            <td class="table-header">Status</td>
            <td class="table-header">Ubah Status</td>
            <td class="table-header">Hapus</td>
        </tr>
    
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td class="description-col">{{ task.description }}</td>
            <td>
                {{ task.date | date:"N j, Y"}}<br>
                {{ task.date | date:"H:i"}}
            </td>
            <td>
                {% if task.is_finished %}
                <p class="tag completed" style="background-color: #22c55e">
                    Selesai
                </p>
                {% else %}
                <p class="tag not-completed" style="background-color: #ef4444">
                    Belum Selesai
                </p>
                {% endif %}
                
            </td>
            <td>
                <a class="btn toggle-btn" href="{% url 'todolist:toggle_task' task.id %}">
                    Ubah
                </a>
            </td>
            <td>
                <a class="btn delete-btn" href="{% url 'todolist:delete_task' task.id %}">
                    Hapus Task
                </a>
            </td>
        </tr>
        {% endfor %}
        
        <tr>
            <td class="add-row" colspan="7">
                <a class="btn add-btn" href="{% url 'todolist:create_task' %}">
                    Tambah Task
                </a>
            </td>
        </tr>
            
    </table>
    
    <div>
        {% if messages %}
            {% for message in messages %}
                <p style="color: red; padding: 1rem 2rem; border: 1px solid; border-color: red;">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}  
    </div>
 </div>

 {% endblock content %}
